.wiz {
    display: block;
}

.wiz-display {
    display: grid;
}

.wiz-step {
    display: grid;
    padding: 10px;
}

.wiz-nav {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 10px;
    height: 100px;
}

.wiz-nav__step-back {
    grid-column-end: span 3;
}

.hidden {
    display: none;
}