.hidden {
    display: none;
}

.wiz {
    display: block;
}

.wiz-display {
    display: grid;
}

.wiz-step {
    display: grid;
    padding: 10px;
}

.wiz-nav {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 10px;
    height: 100px;
}

.wiz-nav__step-back {
    grid-column-start: 8;
    grid-column-end: span 2;
    width: 100%;
}

.wiz-nav__step-next {
    grid-column-start: 10;
    grid-column-end: span 2;
    width: 100%;
}

.wiz-button--primary {
    background-color: darkblue;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    color: white;
    border-radius: 4px;
    transition-duration: 0.4s
}

.wiz-button--primary:hover {
    background-color: rgba(0,0,139,0.96);
}

.wiz-button--secondary {
    background-color: rgba(0,0,139,0);
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    color: darkblue;
    border: 1px solid gray;
    border-radius: 4px;
    transition-duration: 0.4s
}

.wiz-button--secondary:hover {
    background-color: rgba(0,0,139,0.04);
}